* {
  box-sizing: border-box;
}

body {
  margin: 16px;

  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-item {
  list-style: none;
  width: 360px;
  margin: 8px;
}

.gallery-image {
  max-width: 100%;
  height: auto;
}
